body {
  text-align: center;
  width: 90%;
  margin-left: 5%;
  background: black;
}

.jumbotron {
  border-radius: 18px;
  margin-top: 2rem;
  z-index: 80;
}

h3 {
  padding: 1rem;
}

h2 {
  background: black;
  color: whitesmoke;
  padding: 1rem;
  border-radius: 18px;
}

.info {
  background: black;
  color: whitesmoke;
  padding: 1rem;
  border-radius: 18px;
  margin-top: 1rem;
}

h6 {
  margin: 1%;
}

.btn-primary {
  margin-top: 1rem;
  margin-left: 5%;
  font-size: x-large;
  border-style: none;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: greenyellow;
  color: black;
  border-style: none;
}

.btn-dark {
  margin-top: 1rem;
  font-weight: 600;
  font-size: x-large;
  border-style: none;
}

.btn-dark:hover {
  background-color: maroon;
  color: whitesmoke;
  border-style: none;
}

.global-facts {
  background-color: black;
  padding: 1rem;
  color: whitesmoke;
  border-radius: 18px;
}

.clock {
  background: black;
  color: orange;
  padding: 1rem;
  border-radius: 18px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: x-large;
  width: 50%;
  margin-left: 25%;
  font-weight: 600;
}

h1 {
  margin-bottom: 2rem;
}

.caseToday {
  color: yellow;
}

.caseDone {
  color: greenyellow;
}

.caseOpen {
  color: orange;
}

hr {
  background-color: whitesmoke;
  width: 50%;
  margin-left: 25%;
}

h6 {
  font-size: x-large;
}

.quasi-cookie {
  background-color: whitesmoke;
  color: black;
  padding: 1rem;
  position: fixed;
  width: 100%;
  margin-left: -5%;
  z-index: 99;
  bottom: 0;
  font-size: larger;
}

.widget {
  background: #e9ecef;
  border-radius: 10px;
  font-size: x-large;
  margin-bottom: 5rem;
}

.widget div {
  border-color: black;
  font-size: x-large;
  min-width: 20px;
}

.thevirustracker-widget div {
  min-width: 20px;
  border-color: black;
}

@media (max-width: 450px) {
  .clock {
    width: 100%;
    margin-left: 0;
  }
}
